* {
    font-family: "Microsoft YaHei UI";
    font-size: 14px;
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*header*/
header {
    background: #2e2e2e;
    height: 80px;
}

header > .container {
    width: 1350px;
    margin: 0 auto;
}

header > .container > a {
    display: block;
    float: left;
    margin: 25px;
}
header > .container > nav {
    display: block;
    float: right;
}
header > .container > nav > ul {
    display: block;
    margin: 0 auto;
}
header > .container > nav > ul > li {
    display: block;
    float: left;
    height: 80px;
    margin: 30px 25px 25px 0;

}
header > .container > nav > ul > li > a {
    color: #ffffff;
}

/**/
 section {
    display: block;
    text-align: center;
}
section > h1 {
    margin-top: 120px;
    color: #f46208;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 9px;
}
section > aside {
    margin-top: 50px;
}

.banner > .banner-context {
    position: relative;
    display: block;
    width: 100%;
    height: 679px;
    margin: 0 auto;
}
.banner > .banner-context > div {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 676px;
    text-align: center;
}
.banner > .banner-context > .bgimaage {
    overflow: hidden;
    z-index: 1;
}
.banner > .banner-context > .bgimaage > img {
    display: block;
    height: 583px;
    width: 100%;
}
.banner > .banner-context > .context {
    position: absolute;
    z-index: 2;
    height: 200px;
    margin: auto;
    color: #ffffff;
    top: 0;
    bottom: 0;
}
.banner > .banner-context > .context > h1 {
    font-size: 50px;
    letter-spacing: 9px;
}
.banner > .banner-context > .context > p {
    margin-top: 24px;
}

/**/

.protolio > .protolio-centext {
    position: relative;
    display: block;
    height: 145px;
    text-align: center;
}
.protolio > .protolio-centext > p {
    display: block;
    height: 25px;


}
.protolio > .protolio-centext > .nav {
    position: absolute;
    display: block;
    width: 100%;
    height: 145px;
}
.protolio > .protolio-centext > .nav > ul {
    display: block;
    width: 500px;
    margin: 0 auto;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
}
.protolio > .protolio-centext > .nav > ul > li {
    display: block;
    float: left;
    color: #f46208;
    border: 1px solid #f46208;
    height: 43px;
    line-height: 43px;
    margin-right: 15px;
}
.protolio > .protolio-centext > .nav > ul > li > a {
    color: #f46208;
    margin-right: 12px;
    margin-left: 12px;
}
.protolio > .protolio-img > img {
    display: block;
    height: 100%;
    width: 100%;
}

.stats > .stats-centext {
    display: block;
    position: relative;
    height: 500px;
}
.stats > .stats-centext > p {
    display: block;
    height: 25px;
}
.stats > .stats-centext > div {
    display: block;
    position: absolute;
    width: 100%;
}
.stats > .stats-centext > div > ul {
    display: block;
    width: 900px;
    height: 173px;
    left: 0;
    right: 0;
    margin: 50px auto;
}
.stats > .stats-centext > div > ul > li {
    display: block;
    float: left;
    width: 200px;
    height: 173px;
    text-align: center;

}
.stats > .stats-centext > div > ul > li > div {
    position: absolute;
    width: 200px;
    height: 173px;
}
.stats > .stats-centext > div > ul > li > div >.icon{
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    left: 0;
    right: 0;
    margin:  12px auto;
}
.stats > .stats-centext > div > ul > li > div >.icon > img {
    display: block;
    height: 50px;
    width: 50px;
}
.stats > .stats-centext > div > ul > li > div > p {
    display: block;
    font-size:  15px;
    font-weight: bold;
    width: 150px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 10px  auto;
}
.stats > .stats-centext > div > ul > li > div > h2 {
    color: #f46208;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 9px;
    width: 150px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 10px  auto;
}

.team {
    display: block;
    background: #2e2e2e;
}
.team > h1 {
    margin-top: 0;
    padding-top: 120px;
    display: block;
    background: #2e2e2e;

}
.team > .team-centext > p {
    color: #ffffff;
}
.team > .team-centext > ul {
    display: block;
    height: 400px;
}
.team > .team-centext > ul > li {
    display: block;
    float: left;
}